body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  padding: 1.3em;
  // margin: 10em;
  border: 1px solid green;
}


// Nav 
.nav {
  display: flex;
  align-items: center;
  background: rgb(74, 74, 255);
  padding: .4em 2em;
  justify-content: space-between;

  &__item {
    margin-right: 4em;
    font-weight: 800;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border: 1px solid rgb(232, 232, 232);

    &:hover {
      background: black;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    list-style: none;
    background: rgb(232, 232, 232);

    &__name {
      margin-left: 2em;
      font-weight: 800;
      text-decoration: overline;
    }

  }
}

.admin {
  margin-left: 2em;
  background: black;
}

// Home 

.home {
  &__title {
    font-size: 2.1em;
  }

  &__p {
    font-size: 1.5em;
  }
}


.todos {
  &__title {
    font-size: 2.3em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {
    margin-right: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #c0c0c0;
    background: #d1d1d1
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 2em !important;
  }

  &__delete {
    background-color: red !important;
  }
}

// Todos



.sign {
  &__form {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  &__input {
    margin-bottom: 1em;
    padding: 1em;
  }

  &__btn {
    margin-top: 1.1em !important;
  }
}









//////// TRACK ////////

/// TRACK ---
$size : 100%;
$text-primary: #ccc;
$bg-primary: green;
$primary-color: red;
$rounded: 50%;

@mixin flex {
  display: flex;
}


.track {
  padding: 1.5em 2em;
  // border: 1px solid red;

  &__container {
    height: $size;
  }

  &__title {
    margin-bottom: 1em;
    font-size: 1.55em;
    color: $text-primary;
    font-weight: 500;
    color: $bg-primary
  }

  &__top {
    @include flex;
    ;
    flex-direction: column;
    border-bottom: 1px solid lighten($primary-color, 50);
  }

  &__id {
    margin-bottom: .3em;
    // font-weight: 700;

    >span {
      text-decoration: underline;
    }
  }

  &__dates {
    margin-bottom: 2em;
    display: flex;
    align-items: center;

    &__p {
      margin-right: .5em;
      color: $primary-color;
    }

    &__date {
      font-size: .7em;
      font-weight: 600;
    }
  }

  &__track {
    // Leurs containers 
    padding-top: 1em;
    padding-left: 3em;
    // border: 1px solid rebeccapurple;
  }

  &__steps {
    // Les steps
    position: relative;
    list-style-type: none;
    background: transparent;
    width: 20em;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      // left: 0;;
      width: .15em;
      height: $size;
      background: rgb(207, 207, 207);
    }
  }

  &__step {
    position: relative;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    transform: translateX(-2.65em);
    z-index: 50;

    &:nth-child(1) {
      align-items: flex-start;
    }

    &:last-child {
      align-items: flex-end;
    }

    &__item {
      margin-right: .5em;
    }

  }

  &__rounded {
    border-radius: $rounded;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    background: white;
  }

}

// .track__round {
//   width: '0.5em';
//   height: '0.5em';
//   border-radius: '50%';
//   background-color: '#ccc';
//   display: 'flex';
//   align-items: 'center';
//   justify-content: 'center';
// }

// CLASSE  QUAND LE STATUS CHANGE
// .confirmed {
//   color: rgb(10, 155, 10);
//   font-weight: 700;

// }

// .confirmedStrong { // Le boule qui est vraiment au milieu
//   background: rgb(12, 180, 12);

// }

.track__step {
  color: rgb(155, 155, 155) !important;
  /* Couleur par défaut pour toutes les étapes */
}

.track__step.current-step {
  color: red !important;
  /* Couleur pour l'étape actuelle */
}

//STRONG
// .track__round.current-step {
  
//   width: '0.5em';
//   height: '0.5em';
//   border-radius: '50%';
//   background-color: '#ccc';
//   display: 'flex';
//   align-items: 'center';
//   justify-content: 'center';
//   background: red;
//   /* Couleur pour l'étape actuelle */
// }